.aliniar {
    background-color: rgb(44, 44, 44);
    border-radius: 20px;
    padding: 40px;
    max-width: 380px;
    text-align: center;
}
body {
    background-color: rgb(91, 91, 91);
    margin: 0;
    font-family: 'Figtre', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.boton {
    background-color: #333333;
    width: 100%;
    border: none;
    color: white;
    padding: 12px;
    margin-bottom: 10px;
    transition: 0.3s;
}
.boton:hover {
    background-color: #c4f82a;
    color: #141414;
    cursor: pointer;
}
.enlaces {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}