.aliniar {
    background-color: hsl(0, 0%, 13%);
    border-radius: 20px;
    padding: 40px;
    max-width: 380px;
    text-align: center;
    width: 90%;
    text-align: center;
}
body {
    background-color: hsl(0, 0%, 8%);
    margin: 0;
    font-family: 'Figtree', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.boton {
    display: block;
    background-color: hsl(0, 0%, 10%);
    width: 100%;
     color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 12px 0;
    border-radius: 8px;
    text-align: center;    
}
.boton:hover {
    background-color: #c4f82a;
    color: #141414;
    cursor: pointer;
}
.enlaces ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin-top: 24px;
}
img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 20px;
}
h1 {
    color: white;
    margin-bottom: 20px;
}
ul {
    list-style: none;
    padding: 0;
    margin-top: 24px;
}