.aliniar {
    background-color: rgb(44, 44, 44);
    border-radius: 20px;
    padding: 20px;
}
body {
    background-color: rgb(91, 91, 91);
    margin: 0;
    font-family: 'Figtre', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.boton {
    background-color: gray;
    width: 100%;
    border: 2px solid #8e8e8e;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.boton:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}